*{
    margin: 0;
    padding: 0;
}
header img{
    height: 70px;
    width: 70px;
    padding-left: 1cm;
    padding-top: 4px;

}
header{
    background-color: grey;
}
.link a{
    text-decoration: none;
    color: white ;
    font-size: large;
    padding-left: .6cm;
    
} 
.link{
    
    float: right;
    margin-top: 1.0cm;
    margin-right: 20cm;
    
}
.service h2{
    margin-left: 13cm;
}

.bg{
    background-image: url("../image/fooddeliveryman.webp");
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    

}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
.ourclients{
      background-color: rgb(179, 174, 174); 
} 
.client1{
       margin-right: 10cm;


   } 
.cattering{
    width: 33%;
    height: 9cm;
    border-radius: 6px;
    float: right;
    border: 2px solid rgb(139, 4, 4);

}
.cattering p{
    text-align: left;
}
.bulkorder{
    width: 33%;
    height: 9cm;
    float: right;
    border-radius: 6px;
    border: 2px solid rgb(139, 4, 4);

}
.bulkorder p{
    text-align: left;
}
.order{
    width: 33%;
    height: 9cm;
    border-radius: 6px;
    border: 2px solid rgb(139, 4, 4);
    
    

}
.client1{
    
    float: right;
}
.client2{
    float: right;
}
.client3{
    float: right;

}
.cattering img{
    height: 5cm;
    width: 5cm;
    
}
.bulkorder img{
    height: 5cm;
    width: 5cm;
}
.order img{
    height: 5cm;
    width: 5cm;
}.main{
    width: 100%;
    margin-top: 50px;
}
.last{
    background-image: url(../image/Contact-Us.jpg);
    margin-top: 7cm;
    
}
  
.first{
    text-align: center;
}
.form{
    margin-left: 13cm;
}
.last h2{
    margin-left: 13cm;
}
.ourclients h2{
    margin-left: 13cm;
}
.second p{
    text-align: center;
}
#button{
    margin-left: 13cm;
    background-color: rgb(179, 6, 6);
    color: white;
    padding: 5px;
    border-radius: 6px;
}
